= form_for @order do |f|
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :currency
    = f.select :currency, options_for_select(Order::CURRENTIES)     
  .actions
    = f.submit 'Save'
