<!DOCTYPE html>
<html>
<head>
  <title>PgRbk</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'jquery-1.7.2.js', 'rails', 'application' %>
  <%= javascript_include_tag 'jquery.validate.js', 'rails', 'application' %>
  <%= csrf_meta_tags %>
  <p id="notice"><%= notice %></p>
</head>
<body>

<%= yield %>

</body>
</html>
